.testimonial-section{
    width: 100%;
    position: relative;
}
.testimonial-container{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 6rem 0;
}
.testimonial-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    max-width: 450px;
}
.testimonial-para{
    color: var(--text-color-secondary);
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}
.start-learning{
    border-radius: 8px;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    gap: 40px;
}
.start-learning p{
    color: var(--white);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.testimonial-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.testimonial-right{
    position: relative;
}

.testimonial-gradient-1{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.2) -8.9%, rgba(193, 143, 255, 0.2) 44.95%, rgba(245, 99, 231, 0.2) 91.1%);
    height: 100%;
    width: 750px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    filter: blur(100px);
    z-index: 1;
}
.testimonial-gradient-2{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.2) 25.61%, rgba(193, 143, 255, 0.2) 71.5%, rgba(213, 207, 56, 0.2) 110.81%);
    height: 100%;
    width: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    filter: blur(80px);
    z-index: 5;
}